In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Elon_Musk"
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text,'html.parser')

In [8]:
info = soup.find_all('tbody')[0]

In [15]:
details = [i.text for i in info.find_all('th')][1:]

In [21]:
info_list = [i.text for i in info.findChildren('td')][1:]

In [23]:
info_list = [i.strip() for i in info_list]

In [25]:
df = pd.DataFrame(info_list,index=details,columns=['Info'])

In [27]:
df.head(2)

                                                          Info
Born         Elon Reeve Musk (1971-06-28) June 28, 1971 (ag...
Citizenship                South Africa\nCanada\nUnited States

In [28]:
def get_html_data_to_df(url):
    response = requests.get(url) #generated a response
    soup = BeautifulSoup(response.text,'html.parser') #created a "soup" 
    
    info = soup.find_all('tbody')[0] #created an 'info' holding info of first 'tbody' tag
    
    details = [i.text for i in info.find_all('th')][1:] #indexes of df
    
    info_list = [i.text for i in info.findChildren('td')][1:] #actual info that we parsed
    
    info_list = [i.strip() for i in info_list] #removed whitespaces
    
    df = pd.DataFrame(info_list,index=details,columns=['Info']) #final df
    return df

In [29]:
get_html_data_to_df(url)

                                                          Info
Born         Elon Reeve Musk (1971-06-28) June 28, 1971 (ag...
Citizenship                South Africa\nCanada\nUnited States
Education                  University of Pennsylvania (BA, BS)
Title        Founder, CEO, and chief engineer of SpaceX\nCE...
Spouses      Justine Wilson\n​ ​(m. 2000; div. 2008)​\nTalu...
Partners       Amber Heard (2015–2017)[1]Grimes (2018–2021)[2]
Children                                              11[a][4]
Parents                                    Errol MuskMaye Musk
Relatives    Kimbal Musk (brother)\nTosca Musk (sister)\nLy...
Family                                             Musk family
Signature